<head>
    <link rel="stylesheet" href="css/feedback.css">
	<title>Page Title</title>
</head>

<div class="entire-footer">

    <h4 class="navbar-brandfooterup">CONTACT ME</h4>
    <h3 class="navbar-brandfooterdown">GET IN TOUCH WITH ME</h3>
    <span class="border two" style="margin-bottom: 26px;"></span>
    <div class="flex-container">
        <div class="leftsidefooter">
            <div >
                <img src="css/pic/post.png">
                <div style="text-align: center;">Contact By Email</div>
                <div style="color: grey;">Mail1: <a href="#" style="color:#00a78e!important;">info@example1.com</a> </div>
                <div style="color: grey;">Mail2: <a href="#" style="color:#00a78e!important;">info@example2.com</a> </div>
            </div>

            <div style="margin-top:50px;margin-bottom: 50px;">
                <img src="css/pic/phone.png">
                <div style="text-align: center;">Contact By Phone</div>
                <div style="color: grey;">Phone: +0000 123 312 </div>
                <div style="color: grey;">Fax: +123 312 </div>
            </div>
            
            <div>
                <img src="css/pic/homeicon.png">
                <div style="text-align: center;">Looking For Address</div>
                <div style="color: grey;">Address: General Pvt 66, Dong Da</div>
                <div style="color: grey;">Hanoi, Vietnam.</div>
            </div>
        </div>
        <div class="rightsidefooter">
            <div class="col-md-6 mail_right" style="margin-left:25px;width: 88%;">
                <form class="bottomform" method="post">
                    <input type="text" name="name" value= "Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                    <input type="email" name="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="text" name="mobileNumber" value="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
                    <textarea style="height:200px;" name="message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
    <p class="rights">
        © 2016 AlexandroniCompany . All rights reserved | Design by
        <a style="color:#00a78e!important;" href="https://vk.com/alexandroni">ALEXANDRONI.</a>
    </p>

    <ul class="social-icons two">
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
    </ul>
</div>