<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<title>Page Title</title>
</head>
<body>
	<div class="entire-header">			

			<div class="header-container">

				<nav class="navbar navbar-expand-md navbar-dark" style="background-color: transparent;">
					<div class="container-fluid">
						<a class="navbar-brand" href="#">PORTFOLIO</a>

						<div class="collapse navbar-collapse " id="navbarNav" style="flex-grow: 0;">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="#">HOME</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">ABOUT</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">SERVICES</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">EXPERIENCE</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">PORTFOLIO</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">BLOG</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">CONTACT</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>

				<div class="header-container-desc">
					<div class="header-box">

						<div class="header-desciption">
							<div>
								<h4>UX DESIGNER nu pochti</h4>	
							</div>
							<div class="header-desciption-text">
								<b>NAME</b>
								<p>Im Alex Onischenko</p>
							</div>
							<div class="header-desciption-text">
								<b>D.O.B.</b>
								<p>HAHAHAHA BOB</p>
							</div>
							<div class="header-desciption-text">
								<b>PHONE</b>
								<p>NE ZVONITE</p>
							</div>
							<div class="header-desciption-text">
								<b>TELEGRAM</b>
								<p>@alexandroni</p>
							</div>
							<div class="header-desciption-text">
								<b>E-MAIL</b>
								<p>alexandr_oni@mail.ru</p>
							</div>
							<div class="header-desciption-text">
								<b>WEBSITE</b>
								<p>how did you find this site</p>
							</div>
						</div>

						<img src="pic/me-1.jpg" style="object-fit: cover;">

					</div>
				</div>

			</div>
	</div>


	<div class="entire-greeting">
		<div class="greetings-box">
			<img src="pic/me-2.jpg" style="width: 100%; height: 100%; object-fit: cover;">	
		</div>

		
		
		<div class="greetings-box">
			<div class="greeting">

				<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel" style="height: 100%">
					

					<div class="carousel-inner">
						<div class="carousel-item active">
							<h3>HI! I am Alex Onischenko</h3>
							<div>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							<div>
								<button class="greetingButton">My Work</button>
								<button class="greetingButton">Hire me</button>
							</div>
						</div>
						<div class="carousel-item">
							<h3>HI! I am Alex Onischenko</h3>
							<div>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							<div>
								<button class="greetingButton">My Work</button>
								<button class="greetingButton">Hire me</button>
							</div>
						</div>
						<div class="carousel-item">
							<h3>HI! I am Alex Onischenko</h3>
							<div>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							<div>
								<button class="greetingButton">My Work</button>
								<button class="greetingButton">Hire me</button>
							</div>
						</div>
					</div>

					<!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button> -->

					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
				</div>
				
				

			</div>
			
		</div>
	</div>


	<!-- Сервисы -->
	
	<div class="services">
			<h4 class="navbar-brandfooterup">WHAT I DO</h4>
			<h3 class="navbar-brandfooterdown">MY SERVICES</h3>
			<span class="border two" style="margin-bottom: 26px;"></span>
		
		<div  style="margin-top: 5%;" >
			<div class="leftsideservice" onClick="window.location='http://google.com'">
				<div class="leftsideservice" style="align-content: center;">
					<img src="pic/iconpen.png" >
				</div>
				<div class="rightsideservice" style="margin-right: 4%;">
					<div >
					<div class="col-xs-4 wthree_about_right_grid_left">
						<div class="hvr-rectangle-in">
							<i class="glyphicon glyphicon-pencil"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_about_right_grid_right" style="">
						<h4 style="color:#00a78e!important;">Web Design</h4>
						<p style="color: #586371;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
					</div>
					<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="leftsideservice" onClick="window.location='http://google.com'">
				<div class="leftsideservice" style="align-content: center;">
					<img src="pic/iconpen.png" >
				</div>
				<div class="rightsideservice" style="margin-right: 4%;">
					<div >
					<div class="col-xs-4 wthree_about_right_grid_left">
						<div class="hvr-rectangle-in">
							<i class="glyphicon glyphicon-pencil"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_about_right_grid_right">
						<h4 style="color:#00a78e!important;">Web Design</h4>
						<p style="color: #586371;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
					</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Раздел на части -->
		<div  style="margin-top: 5%;" >
			<div class="leftsideservice" onClick="window.location='http://google.com'">
				<div class="leftsideservice" style="align-content: center;">
					<img src="pic/iconpen.png" >
				</div>
				<div class="rightsideservice" style="margin-right: 4%;">
					<div >
					<div class="col-xs-4 wthree_about_right_grid_left">
						<div class="hvr-rectangle-in">
							<i class="glyphicon glyphicon-pencil"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_about_right_grid_right" style="">
						<h4 style="color:#00a78e!important;">Web Design</h4>
						<p style="color: #586371;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
					</div>
					<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="leftsideservice" onClick="window.location='http://google.com'">
				<div class="leftsideservice" style="align-content: center;">
					<img src="pic/iconpen.png" >
				</div>
				<div class="rightsideservice" style="margin-right: 4%;">
					<div >
					<div class="col-xs-4 wthree_about_right_grid_left">
						<div class="hvr-rectangle-in">
							<i class="glyphicon glyphicon-pencil"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_about_right_grid_right">
						<h4 style="color:#00a78e!important;">Web Design</h4>
						<p style="color: #586371;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
					</div>
					</div>
				</div>
			</div>
		</div>


	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

<!-- Футер -->
<footer>
	<div class="entire-footer">			

			<h4 class="navbar-brandfooterup">CONTACT ME</h4>
			<h3 class="navbar-brandfooterdown">GET IN TOUCH WITH ME</h3>
			<span class="border two" style="margin-bottom: 26px;"></span>
			<div class="flex-container">
   				<div class="leftsidefooter">
   					<div >
   						<img src="pic/post.png">
  						<div style="text-align: center;">Contact By Email</div>
  						<div style="color: grey;">Mail1: <a href="#" style="color:#00a78e!important;">info@example1.com</a> </div>
  						<div style="color: grey;">Mail2: <a href="#" style="color:#00a78e!important;">info@example2.com</a> </div>
  					</div>

  					<div style="margin-top:50px;margin-bottom: 50px;">
   						<img src="pic/phone.png">
   						<div style="text-align: center;">Contact By Phone</div>
   						<div style="color: grey;">Phone: +0000 123 312 </div>
  						<div style="color: grey;">Fax: +123 312 </div>
  					</div>
  					
  					<div>
  						<img src="pic/homeicon.png">
   						<div style="text-align: center;">Looking For Address</div>
   						<div style="color: grey;">Address: General Pvt 66, Dong Da</div>
  						<div style="color: grey;">Hanoi, Vietnam.</div>
  					</div>
   				</div>
  				<div class="rightsidefooter">
  					<div class="col-md-6 mail_right" style="margin-left:25px;width: 88%;">
						<form class="bottomform">
							<input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
							<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
							<input type="text" name="Mobile number" value="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
							<textarea style="height:200px;" name="Message..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
							<input type="submit" value="Send">
				</form>
					</div>
  				</div>
			</div>
			<p class="rights">© 2016 AlexandroniCompany . All rights reserved | Design by 
				<a style="color:#00a78e!important;" href="https://vk.com/alexandroni">ALEXANDRONI.</a>
			</p>

			<ul class="social-icons two">
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
			</ul>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</footer>
</html>


